
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


h1 { margin: auto;
    display: block;
    color: rgb(0, 0, 0);
    font-family:  roboto;
    text-align: center;
    font-size: 50px;

}

.imagen { margin: auto;
    display: block;
    border-radius: 50%;

    
}
img { margin-left: 20px;
    margin-top: 20px;

}
body { background-color: rgb(81, 163, 134);
    margin: auto;
    display: block;
    font-family: roboto;
    font-size: 20px;
    color: rgb(0, 0, 0);
    max-width: 800px;
    padding: 20px;
}
h2 { margin-top: 40px;

}

a { text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover { color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;

}