* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 850px;
}

.card {
    background: #f3f3f3;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* CONTENEDOR CIRCULAR */
.foto-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ccc;
}

/* IMAGEN */
.foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 18px;
    color: #555;
}