body {
    background-color: rgb(54, 54, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}


#Cartita {
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    box-shadow: -20px -20px rgba(0, 0, 0, 0.2);
}

#imagen {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid grey;
    margin: 10px;
}

.texto h1 {
    font-size: 20px;
    margin: 5px;
    font-style: italic;
}

.texto p {
    color: rgb(99, 99, 99);
    font-size: 15px;
    margin: 5px;

}